/* responsive for small devices */
@media screen and (max-width: 600px) {
    /* .container {
        width: 100%;
        max-width: 335px;
        max-width: 1170px;
        margin: 0 auto;
    } */
    .banner-section {
        background-size: contain auto;
        /* background-repeat: no-repeat; */
        margin: 10px;
    }
    .banner-title {
        font-size: 2rem;
    }
    .banner-section-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .popular-tours {
        flex-direction: column;
        margin: 10px;
    }
    .popular-image-section img {
        width: 100%;
        margin-bottom: 1rem;
    }
    .destination-image-container img {
        width: 100%;
    }
    .destination-section {
        margin: 10px;
    }
    .section-title{
        font-size: 1.25rem;
    }
    .why-choose-us-section h3 {
        font-size: 1.25rem;
    }
    .why-choose-us-card-container {
        flex-direction: column;
        margin: 10px;
    }
    .why-choose-us-card-container h5  {
        font-size: 1.25rem;
    }
    
    .newsletter-section {
        flex-direction: column;
        margin: 10px;
    }
    .footer h5 {
        font-size: 1.5rem;
    }
    .footer p {
        font-size: .875rem;
        padding: 10px;
    }
}