@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* shared styles */
body {
    font-family: "Mulish", sans-serif;
}

.container {
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
}
/* banner styles */
.banner-section {
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}